@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700")
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css")

*,
*::before,
*::after
    margin: 0
    padding: 0
    outline: none
    box-sizing: border-box


html,
body
    width: 100%
    height: 100%


html
    font-family: "Montserrat", sans-serif
    font-size: 300
    box-sizing: border-box


.container
    width: 100%
    max-width: 768px
    margin: 0 auto

img
    max-width: 100%
    height: auto

a
    text-decoration: none
    color: inherit

.big-text
    font-size: $gutter
    margin-bottom: $gutter / 2

button
    border: none
    color: #fff
    border-radius: 3px
    font-size: .95rem
    cursor: pointer
    padding: $gutter/2.5 $gutter
    &:hover
        opacity: .8

.btn-blue
    background: $light-blue

.btn-grey
    background: $light-grey

.bonusText
    background: #e0e6ed
    padding: $small-gutter - .35 $small-gutter
    border: 1px solid #d3d9e0
    border-radius: 5px 

select, 
input
    width: 260px
    padding: .5rem .75rem
    border: 1px solid $light-grey
    border-radius: 3px 
    margin: 0 .5rem
    font-family: inherit


.small-box
    width: 145px